.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 21rem;
    height: 22rem;
    margin: 4rem auto;
    background-color: #fee715ff;
    color: #949398FF;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img {
    max-width: 100%;
    height: 10rem;
  }
  
  .container {
    padding: 2px 16px;
  }

  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;

}